html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
}

#app {
  position: relative;
  overflow: hidden;
  width: 1280px;
  height: 720px;
  top: 50%;
  margin: -360px auto 0 auto;
  color: white;
  background-color: black;
}

.focused {
  background-color: #263238 !important;
}

.AppBar__item {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #607D8B;
  width: 20%;
}

.AppBar__item.active {
  background-color: #78909C;
}

.Vlist__item {
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #90A4AE;
}

.Grid__row {
  background-color: #B0BEC5;
}

.Grid__item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 160px;
  line-height: 160px;
  text-align: center;
}
